<form  [formGroup]="myForm"> 
    <!-- directuve maya3refehech donc import module  -->
    <div>
        <label>email</label>
        <input type="text" class="form-control"  formControlName="email">
        <!-- formControlName tejbed info min [formGroup] -->
        <!-- [] lezem mawjouda fil ts -->
        </div>

        <div class="alert alert-danger" *ngIf="myemails.invalid" role="alert">
            email ya bhim
           </div>

        <div class="form-group">
            <label>pwd</label>
            <input type="text" class="form-control" formControlName="pwd">
            </div>
<!-- pattern lezem tekteb bech testi -->
            <div class="alert alert-danger" *ngIf="myForm.get('pwd').invalid" role="alert">
                This is a danger alert—check it out!
               </div>
            <input type="submit"  class="btn btn-primary"  value="Login">
            
</form>
<!-- formgroupname , form inbriqué -->