

<input type="text" [(ngModel)]="myVal">

<!-- L’objet $event contient les informations  envoyées par le fils -->

 <app-fils *ngFor="let p of invoices;let i=index" [prop1]= "myVal" [invoice]="p" (liked) ="addlikes($event)">

    <h2>teb3eth</h2>
    <ng-container>
        <h2>teb3eth ki yebdew barcha</h2>

            <h2>teb3eth</h2>

            <h2>teb3eth</h2>
            <h2>teb3eth</h2>


    </ng-container>
 </app-fils>
<!-- p meta3 let p  -->

<!-- string "'myVal'" -->
<!-- "myVal" tetsama prorité  -->




<!-- revision parent w weldou -->
