<form [formGroup]="myForm">
    <div class="form-group">
      <label for="exampleInputEmail1">idInvoice</label>
      <input type="text" class="form-control" formControlName="idInvoice" aria-describedby="emailHelp" >
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">discountAmount</label>
      <input type="text" class="form-control" formControlName="discountAmount">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">billAmount</label>
        <input type="text" class="form-control" formControlName="billAmount">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">dateBill</label>
        <input type="text" class="form-control" formControlName="dateBill">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">status</label>
        <input type="text" class="form-control" formControlName="Status">
      </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>